<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>knime-p2-ftp</id>
      <username>${env.KNIME_P2_FTP_USERNAME}</username>
      <password>${env.KNIME_P2_FTP_PASSWORD}</password>
    </server>
  </servers>

</settings>
