<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
  <extension id="JsonNodeDocumentationGenerator" point="org.eclipse.core.runtime.applications">
    <application cardinality="singleton-global" thread="main" visible="true">
      <run class="de.philippkatz.knime.jsondocgen.JsonNodeDocuGenerator"/>
    </application>
  </extension>
</plugin>
